
.errors{
    color: red;
}

::placeholder{
    font-size: 17px;
    font-family: "UD デジタル 教科書体 N-B","UD Digi Kyokasho N-B";
}

.deletenewpasstitle{
    text-align: center;
    margin-top: 80px;
}

.newpasstitle{
    text-align: center;
    margin-top: 80px;
}

.QuestionError{
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.NewPassBtn{
    text-align: center;
}

.box{
    margin-top: 110px;
    text-align: center;
    margin-left: 30%;
    height: 600px;
    width: 35%;
    border-radius: 25px;
    background-color:rgb(233, 235, 245);
    box-shadow: 0 0 8px gray;
    
}
.questionmail{
    margin-top: 35px;
    width: 65%;
    height: 30px;
    border-radius:25px;
    background-color: rgb(212, 226, 250);
    padding-left: 20px;
    cursor:pointer;
    outline: none;
}

.questionmail:hover {
    background-color: white;
}

.questiontel{
    margin-top: 25px;
    width: 65%;
    height: 30px;
    border-radius:25px;
    background-color: rgb(212, 226, 250);
    padding-left: 20px;
    cursor:pointer;
    outline: none;
}

.questiontel:hover {
    background-color: white;
}

.questionanswer{
    margin-top: 25px;
    width: 65%;
    height: 30px;
    border-radius:25px;
    background-color: rgb(212, 226, 250);
    padding-left: 20px;
    cursor:pointer;
    outline: none;
}

.questionanswer:hover {
    background-color: white;
}

.NewPassPush{
    font-size: 25px;
    color: white;
    background-color:rgb(3, 118, 250);
    margin-top: 80px;
    width: 30%;
    height: 50px;
    border-radius:40px;
    font-family: "UD デジタル 教科書体 N-B","UD Digi Kyokasho N-B";
    cursor:pointer;
}

.NewPassPush:hover {
    color: white;
    background-color:rgb(140, 184, 252);
}

.NewPassReturn{
    font-size: 25px;
    color: white;
    background-color:rgb(149, 154, 160);
    margin-top: 10px;
    margin-left: 50px;
    width: 30%;
    height: 50px;
    border-radius:40px;
    font-family: "UD デジタル 教科書体 N-B","UD Digi Kyokasho N-B";
    cursor:pointer;

}

.NewPassReturn:hover {
    color: white;
    background-color:rgb(193, 199, 199);
}

.newpass{
    margin-top: 40px;
    margin-left:auto;
    margin-right: auto;
    font-size: 30px;
}
.NewPass{
    color: red;
}

.returnBtn{
    color: white;
    background-color: rgb(130, 181, 235);
    font-family: "UD デジタル 教科書体 N-B","UD Digi Kyokasho N-B";
    border-radius: 5px;
    font-size: 20px;
    height: 30px;
    border: none;
    box-shadow: 0 0 3px gray;
    cursor: pointer;
}

.returnBtn:hover{
    color: white;
    background-color: blue;
}